@model Mvc5Cv.Models.Entity.TblHobilerim
@{
    ViewBag.Title = "HobiGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>HOBİ DÜZENLEME SAYFASI</h2>
<br />
<form method="post" class="form-group">
    <br />
    @Html.Label("AÇIKLAMA 1")
    @Html.TextAreaFor(m => m.Aciklama1, new { @class = "form-control" })
    <br />
    @Html.Label("AÇIKLAMA 2")
    @Html.TextAreaFor(m => m.Aciklama2, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">GÜNCELLE</button>
</form>
