@model Mvc5Cv.Models.Entity.TblYeteneklerim
@{
    ViewBag.Title = "YetenekGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>YETENEK DÜZENLEME SAYFASI</h4>
<br />
<form method="post" class="form-group">
    @Html.Label("YETENEK ADI")
    @Html.TextBoxFor(m => m.Yetenek, new { @class = "form-control" })
    @Html.Label("BİLGİ DERECESİ")
    @Html.TextBoxFor(m => m.Oran, new { @class = "form-control", @maxlength = "3", @placeholder = "0-100 ARASI DEĞER GİRİNİZ..." })
    <br />
    <button class="btn btn-success">YETENEK GÜNCELLE</button>
</form>

