@model Mvc5Cv.Models.Entity.TblSertifikalarim
@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>SERTİFİKA DÜZENLEME SAYFASI</h4>
<br />
<form method="post" class="form-group">
    @Html.Label("SERTİFİKA AÇIKLAMASI")
    @Html.TextBoxFor(m => m.Aciklama, new { @class = "form-control" })
    @Html.Label("TARİH")
    @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">GÜNCELLE</button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.kimlik" class="btn btn-danger">SİL</a>
</form>

